{% extends "MobiApp/base.html" %}

{% comment %}
    Administrator Page - Create User.
{% endcomment %}

{% block head %}
    <title xmlns="http://www.w3.org/1999/html">Create User | MobiQuiz LMS{% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
    <header>
        <h1>LMS Create User</h1>
    </header>

    <h3>Welcome {{ user.username }},</h3>

    <p><a href="/administrator/">Home</a></br>
    <a href="/logout/">Logout</a></p>

    <section>
        {% load crispy_forms_tags %}

        {% block content %}
            {% crispy form %}
        {% endblock %}
    </section>

{% endblock %}