{% extends "MobiApp/base.html" %}

{% comment %}
    Student Page - Start Quiz.
{% endcomment %}

{% block head %}
    <title>Grade Book | MobiQuiz LMS{% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
    <header>
        <h1>LMS Grade Book</h1>
    </header>

    <h3>Welcome {{ user.username }},</h3>

    <p><a href="/faculty_member/">Home</a></br>
    <a href="/logout/">Logout</a></p>

    <p>Grade Book</p>
    {% if grade_book %}
    <ul>
        {% for grades in grade_book %}
            <li>{{ grades }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <li><p>No Result Found</p></li>
    {% endif %}

    {% block content %}{% endblock %}

{% endblock %}