{% extends "MobiApp/base.html" %}

{% comment %}
    Faculty Member Page - Quiz.
{% endcomment %}

{% block head %}
    <title>Quiz | MobiQuiz LMS{% block title %}{% endblock %}</title>
{% endblock %}

{% block body %}
    <header>
        <h1>LMS Quiz</h1>
    </header>

    <h3>Welcome {{ user.username }},</h3>

    <p><a href="/faculty_member/">Home</a></br>
    <a href="/faculty_member/create_quiz/">Create Quiz</a></br>
    <a href="/logout/">Logout</a></p>

    <p>Quiz</p>
    {% if quiz_list %}
    <ul>
        {% for quiz in quiz_list %}
            <li><a href="/faculty_member/update_quiz/{{ quiz.id }}">{{ quiz.course }} {{ quiz.quiz_no }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <li><p>No Quiz</p></li>
    {% endif %}

    {% block content %}{% endblock %}

{% endblock %}